
.create-recipe-page {
  width: 100%;
    margin: 5%;
}
#title {
    width: 100%;
    height: 30px;
   
 
  }
  
  #content {
      width:100%;
      height:100%;
  
  }

  .recipe-name {
    width: 100%;

    flex-direction: column;
  }
  .recipe-label {
    font-size: 1.2em;
    margin-bottom: 1%;
  }
  
  .ingredient-label {
    font-size: 1.2em;
    margin-bottom: 1%;
  }
  .ingredient-change-btn {
    text-align:center;
    cursor: pointer;

  }
  .ingredient-change-btn > span {
    color: #cdcdcd

  }


  .ingredient-label > span {
      color: #cdcdcd
  }
  
  .directions-area {
    height: 150px !important;
  
  }
.recipe-form {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    font-weight: 200;
    flex-wrap: wrap;
  }
  .recipe-form>* {
    flex: 1 1 400px;
}

.ingredient-directions > * {
    margin:5% 0;
  }
.ingredient-add-list{
  
    margin-left: 10%;
}
  
  .ingredient-container >  div {
      display: flex;
      flex-direction: column;
      margin: 2% 0;
      font-size: 1em;

  }
  .ingredients {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
  }


  .recipe-ingredients{
      display: flex;
      justify-content: space-between;      width: 250px;
      
  }

  .recipe-ingredient-item{
    display: flex;
    flex-direction: column;
    
}

.recipe-item-container {
    display: flex;
    align-items: flex-start;
    margin-top: 7%;
}

.recipe-item-container > div:nth-child(1) {
font-size: 1.2em;
}

