.recipe-summary{
    border: solid 1px #747d8c;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.recipe-summary .card-title {
    font-size: 1.45em;
    font-weight: 300;
    color: #2f3640;
}

.sub-text {
    font-size: .7em;
    color: #b8b8b8;
}

.recipe-btn {
    padding: 3% 2%;
    width:100px;
    color: #0e83cd;
    text-align: center;
    margin-top: 20%;
    cursor: pointer;
    
}
.recipe-btn:hover {
    color: #09639b;
}

.edit-recipe-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.edit-recipe-box >* {
    padding: 0;
}