.profile-page {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    margin: 15% 0;

   

}

.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(25deg, #237a4b, #29a263, #2dcc7b, #2ff895)
    ;    color: #fff;
    border-radius: 25px;
    padding: 5%;
    height: 500px;
    width: 500px;
    
 
}
.profile-info > *{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;

}




