.left-nav{
    display: flex;
    flex-direction: column;
    padding: 5%;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(25deg, #003fd0, #2066e0, #248df0, #0eb4ff);
height: 100%;

}
.left-nav a {
    color: #fff;
    font-weight: 200;
}

.left-nav h1 {
    font-size:1.5em;
    font-weight: 200;
}

.left-nav h2 {
    font-size: 1em;
    font-weight: 200;
}

.left-nav ul li {
    margin-bottom: 20%;
   

}

.left-nav ul {
    padding: 0;
}

