.top-nav-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    
    padding: 2%;
    position: fixed;
    margin-bottom:2%;
    background: white;
    z-index: 1000;
    
}

@media (max-width: 1224px) { 
    .top-nav-container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        
        padding: 2%;
     
     
        z-index: 1000;
        bottom: 0;
        background: white;
        
    }
 }
.top-nav {
 width:100%;
 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}



.top-nav-button{
    border:none;
    text-align: center;
    color: #4dbc4b;
    padding: 2% 4%;
    cursor: pointer;
    width: 100px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 25px;
    margin: 15px 0;
    outline: none;
  position: relative;
  text-align: center;

}

.top-nav-button:hover{
    margin: 0;
 background-image: linear-gradient(84deg, #62bab7, #63be8b, #5bc25d, #47c61e);
    padding: 4% 4%;
    color: white;
  
 

   
}





.top-nav-text  {
    font-size: .7em;
}




.top-search {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex: 2;

}


.top-search > input::placeholder{
    font-weight: 200;
}